langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
chromadb
langchain-text-splitters
langgraph
streamlit
pypdf
pyyaml
dashscope
python-dotenv
py2neo
torch
torchvision
torchaudio
transformers
pillow
numpy
scipy
opencv-python